<p>Record ID : <%= @contact.id %></p>
<p>First name : <%= @contact.first_name %></p>
<p>Last name : <%= @contact.last_name %></p>
<p>Email : <%= @contact.email %></p>
<p>Note : <%= @contact.note %></p>
